<h1>Dashboard</h1>
<h2>Add your favorite pizzas to your shopping cart</h2>
<hr/>
<div class="container">
    <div class="itemsTable">
        <h1>Pizzas</h1>
        <table id="itemsTable">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Add to cart</th>
            </tr>
            <tr id="noChecksMessage">
                <td colspan="4">No pizzas available!!!</td>
            </tr>

        </table>
    </div>

    <div class="cart">
        <h1>Cart</h1>
        <table id="cart">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Remove from cart</th>
            </tr>
            <tr>
                <td colspan="4">
                    <a href="#" id="placeOrder" class="cta green">Place Order</a>
                </td>
            </tr>
        </table>
    </div>
</div>
